:root {
  --base-hue: 351;
  --saturation: 77%;
  --lightness: 92%;
  --rotation: 100;
  --hue-variant-1: calc(var(--base-hue) + var(--rotation));
  --hue-variant-2: calc(var(--base-hue) + var(--rotation) * 2);
  --color-pink-1: rgb(253, 107, 131);
  --color-pink-2: rgb(250, 161, 176);
  --color-white: white;
  --color-off-white: rgb(211 211 211 / 82%);

}

body {
  font-family: cursive;
  margin: 0;
  padding: 0;
  width: 100%;
}

.color {
  background-color: hsl(var(--hue), var(--saturation), var(--lightness));
}

.header {
  height: max(150px, 10vh);
  --hue: calc(var(--base-hue));
  background-image: url('images/logos.png');
  background-repeat: repeat-x;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-container {
  background-color: var(--color-pink-1);
  height: 100%;
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  --hue: var(--hue-variant-1);
  height: 88vh;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  align-items: flex-start;
}

.calculator {
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-flow: wrap;
  gap: 1.2rem;
  border: 20px solid var(--color-pink-1);
  background-color: hsl(var(--base-hue), 95%, 95%);
  border-radius: 20%;
  padding: 3rem;
  justify-content: space-evenly;
  box-shadow: 20px 20px 4px 2px var(--color-pink-2);
  height: min(70%, 1000px);
  margin-bottom: 2rem;
  align-content: center;
}

#screen {
  background-color: rgb(34, 34, 34);
  padding: 0;
  margin: 0;
  height: 6rem;
  width: 90%;
  color: white;
  border: 10px solid var(--color-pink-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  min-height: 5rem;
  min-width: 7rem;
  padding: 0;
  border-radius: 10%;
  background-color: var(--color-white);
  box-shadow: 2px 2px 1px 1px var(--color-off-white);
  font-family: 'Sofia', cursive;
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid var(--color-off-white);
  transition: all .1s ease-in-out;
  cursor: pointer;
}

button.active {
  background-color: var(--color-off-white);
  border: none;
}

button.backspace {
  min-width: 14rem;
}

button.equals {
  min-width: 14rem;
  font-size: 3rem;
}

h1 {
  margin: 0;
  font-size: 4rem;
  color: floralwhite;
}

p {
  font-size: 2rem;
}
